.template_genericfullwidth .page-header-generic{
  display: none;
}

.content div.column-control-column .section div.questions-wrapper div{
    width: 100%;
}


.content div.existingQuestions .heading, .customQuestions .heading, .fullListQuestions .heading{
    padding: 0;
}

.content div.existingQuestions .heading p, .customQuestions .heading p, .fullListQuestions .heading p{
    background-color: #75226b;
    font-weight: 600;
    color: #fff;
    padding: 13px 5px;
    font-family: GillSansMT-Bold;
}

.content div.existingQuestions ol.existingQuestionsSet{
    margin-top: 0;
}

.content div.column-control-column .section .questions-wrapper  div .NextSteps, div.column-control-column  .new.section{
    display: none;
}

.content div.column-control-column div.image img {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.content .existingQue, .content .questionssorting{
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
}

.content .existingQue span.question, .content .questionssorting .dragcontent {
    font-weight: 500;
    text-align: left;
}

.content .existingQuestionsSet .question, .content .questionssorting .dragcontent{
    width: 70%;
}
.content .column-control-column .existingQuestionsSet .question, .content .questionssorting .dragcontent{
    width: 80%;
}

.content .existingQue .add, .content .questionssorting .removeItem{
    border: 1px solid #75226b;
    padding: 6px;
    font-size: 11px;
    font-weight: bolder;
}

.content .existingQue .add:hover, .content .questionssorting .removeItem:hover{
    cursor: pointer;
}

.content .NextSteps {
    height: 50%;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.customQuestions .buttonclick{
    margin-right: -4px !important;
    padding: 7px;
}

.content  .NextSteps #addToCalendarOption{
    float: left;
}

h3.h5.media-heading, .mini-navigation .fancy2 span, p.article-title, .newsTeaser h5, .text.cq-dd-image{
    color:#75226b;
}

h3.h5.media-heading {
    font-size: 20px;
}

p.article-title {
    font-size: 22px;
    line-height: 8px;
    margin-bottom: 25px;
}

.newsTeaser h5 {
    font-size: 1.3vw;
    margin-left: 20%;
    margin-top: 5%;
    font-weight: bold;
}

.publishDate, .newsTeaser p {
    margin-left: 20%;
    font-size: 14px;
}

.newsTeaser img {
    width: unset;
    max-width: unset;
}

.references {
    margin-top: 50px;
}

body {
    font-size: 1.7em;
    font-weight: 100;
    font-style: normal;
}

.media .media-body, .text .media-body{
  line-height: 1.5 !important;
  text-align: left !important;
  margin-top: -14px !important;
  display: initial;
}

.content .one-column > * {
    margin-top: 20px;
    width: 100%;
}

.content .text-callout:before, .content .text-callout:after{
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    position: unset
    left: 0;
    right: 0;
    background: none;
}

.content .text-callout{
    margin-top: 50px;
}
.content .text-callout p {
   font-weight: 400;
}

.generic-text-image .text.cq-dd-image{
	text-align: left;
  line-height: 1.1;
}

.existingQuestionsSet .questionnumber {
  padding-top: 2px !important;
}

.questions-mininav .mini-navigation {
  border: 1px solid #5c6770;
  margin-top: 55px;
  width: 310px;
}

.questions-mininav .mini-navigation .caption2 p{
  width: 145px;
  line-height: 1.1;
  padding-top: 10px;
}

.promopodenhanced.section {
    max-width: 100% !important;
    margin-top: 15px;
}

.popular-stories-landing .withDescription .caption .customh4{
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
}

.popular-stories-landing .withDescription .caption {
    padding-top: 20px;
}

.popular-stories-landing .withDescription .caption h1{
  font-family: GillSansMT-Bold;
  font-size: 1.7em;
  margin-bottom: 5px;
}

.popular-stories-landing .container-div3 .rowCentering.withdescsafari{
  display: flex;
}

.popular-stories-landing .withdescsafari #desktopWithDescription1 .imageHolder{
    display: flex;
}

.popular-stories-landing .withdescsafari #desktopWithDescription1 {
    width: 30%;
}

.popular-stories-landing .withdescsafari #desktopWithDescription2 {
    width: 70%;
}

@media (min-width: 992px){
  .main.generic-page.full-width {
    margin-top: 0;
  }

	.content .text-callout p{
		font-style: normal;
		font-size: 2em;
    display: block;
    margin-bottom: 0;
    color: #75226b;
    }

    .generic-text-image.textimage.parbase.section {
        width: 100%;
        position: relative;
    }

    div.textimage div.image {
        float:none;
    }

    .generic-text-image.textimage.parbase.section > div.image img {
        width: 100%;
        display: block;

    }

    .text.cq-dd-image {
      color: #75226b;
      font-size: 3.9em;
      width: 60%;
      white-space: pre-line;
      font-weight: 500;
      position: absolute;
      top: 62%;
      left: 35%;
      transform: translate(-50%, -50%);
    }

    .popular-stories {
        border: 1px solid #ccc;
        color: #75226b;
        padding-top: 22px;
        padding-bottom: 8px;
        margin-top: 50px;
        background: url('../images/pop-title-bg.png') no-repeat;
        background-position: 18px 23px;
    }

    .pop-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size:18px;
    }

    .popular-stories ul li {
        list-style: none;
    }

    .popular-stories ul li div {
        display: inline-block;
        margin-left: 20px;
        line-height: 16px;
        margin-top: -5px;
    }

  .button-questions .image.parbase.section {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
  }


  .questions-mininav .mini-navigation .container-div2 {
    width: 700px;
  }

  .questions-mininav .mini-navigation .col-md-4 {
    width: auto;
    text-align: left;
  }

  .questions-mininav .mini-navigation .caption2 p {
    font-size: 1.1em;
  }

  .questions-mininav .mini-navigation .imageHolder {
    width: 110px;
    margin-bottom: 0;
  }

  .questions-mininav .mini-navigation .rowCentering {
    display: inline-block;
    flex-wrap: wrap;
  }

  .mini-navigation .fancy2 span:before,.mini-navigation .fancy2 span:after {
      width: 40px;
  }

  .mini-navigation .customHeading{
    margin-bottom: 20px !important;
  }

  .existingQuestionsSet .questionnumber {
    padding-top: 2px;
    font-size: 0.9em;
  }

  .teasertile .media-body p.teaser-first {
    margin-top: -15px;
  }

  .teasertile {
    font-weight: 100;
  }

  .teasertile .media {
    margin-left: 20px;
    margin-right: 20px;
  }

  .content .existingQue span.question, .content .questionssorting .dragcontent {
    font-weight: 500;
  }

  .textcallout section, .teasertile.base.parbase.section, .text.parbase.section, .columncontrol.section, .newsteasercontainer.section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main.generic-page.full-width {
      margin-top: -30px;
  }

  .questions-mininav .col-sm-8{
    width: 60%
  }

  .questions-mininav .col-sm-4{
    width: 40%
  }

  .questions-mininav .mini-navigation{
    width: auto;
  }

  .sortablelistgenerator.section {
      max-width: 1100px;
      margin: 0 auto;
  }

  .content .text-callout p{
		font-size: 1.7em;
  }

  .generic-text-image.textimage.parbase.section {
      width: 100%;
      position: relative;
  }

  div.textimage div.image {
      float:none;
  }

  .generic-text-image.textimage.parbase.section > div.image img {
      width: 100%;
      display: block;

  }

  .text.cq-dd-image {
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .canvas-container .columncontrol.section .row{
    width: 100%
  }

  .content .existingQue, .content .questionssorting{
    margin-top: 0;
  }

  .button-questions {
    margin-top: 10px;
  }

  .button-questions .image {
    width: auto;
    max-width: 100%;
    display: inline-block;
  }


  .questions-mininav .mini-navigation .container-div2 {
    width: 500px;
    padding-bottom: 10px;
  }

  .questions-mininav .mini-navigation .col-md-4 {
    width: auto;
    text-align: left;
    padding-left: 0;
  }

  .questions-mininav .mini-navigation .caption2 p {
    font-size: 1.1em;
    width: 130px;
  }

  .questions-mininav .mini-navigation .imageHolder {
    margin-bottom: 0;
  }

  .questions-mininav .mini-navigation .rowCentering {
    /*display: inline-block;*/
    justify-content: left;
    flex-wrap: wrap;
  }

  .questions-mininav .mini-navigation .fancy2 span:before,.mini-navigation .fancy2 span:after {
      width: 40px;
  }

  .questions-mininav .mini-navigation .customHeading{
    margin-bottom: 20px !important;
  }

  .existingQuestionsSet .questionnumber {
    padding-top: 2px;
    font-size: 0.9em;
  }

  .teasertile .media-body p.teaser-first {
    margin-top: -15px;
  }

  .teasertile {
    font-weight: 100;
  }

  .teasertile .media {
    margin-left: 20px;
    margin-right: 20px;
  }

  .content .existingQue span.question, .content .questionssorting .dragcontent {
    font-weight: 500;
  }

  .textcallout section, .teasertile.base.parbase.section, .text.parbase.section, .columncontrol.section, .newsteasercontainer.section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .questions-mininav .promopodenhanced .small-caption p{
    font-size: 1.1em;
    width: auto;
  }

  .questions-mininav .promopodenhanced .centerimg,.questions-mininav #linkWork,.questions-mininav #verticalWork{
    width: auto !important;
  }

  .container-div3 .rowCentering.withdescsafari{
    display: flex !important;
  }

  .withDescription .caption {
    padding-top: 0;
  }

  .withDescription .caption h1{
    margin-bottom: 0;
  }

  .withDescription .caption .customh4 {
    font-size: 0.8em;
  }

  .withDescription .caption h1 {
    font-size: 1.5em;
  }

  .popular-stories-landing .withDescription .caption{
    padding-top: 0
  }

  .popular-stories-landing .withdescsafari #desktopWithDescription1 {
      width: 40%;
  }

  .popular-stories-landing .withdescsafari #desktopWithDescription2 {
      width: 60%;
  }

  .popular-stories-landing .withdescsafari #desktopWithDescription1,
  .popular-stories-landing .withdescsafari #desktopWithDescription2,
  .mini-navigation #desktopVertical1,
  .mini-navigation #desktopVertical2{
    display: flex !important;
  }

  .popular-stories-landing .withdescsafari .centerimg .thumbnail,
  .withdescsafari .small-caption,.withdesctitle, .mini-navigation #verticalWork, .mini-navigation .small-caption{
    display: none !important;
  }

}

@media (min-width: 320px) and (max-width: 767px) {
    header .fixed {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }

    .content .media > .pull-right, .media > .pull-left {
      display: block !important;
      float: unset !important;
        width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .media .media-body {
        float: left;
        padding:5px;
    }

    img.cq-dd-image {
        width: 100%;
        float: inherit;
    }

    .fancy span:before, .fancy span:after{
      width: 100%;
    }

    .popular-stories {
        border-top: 1px solid #ccc;
        color: #75226b;
        padding-top: 22px;
        padding-bottom: 8px;
        margin-top: 50px;
        background: url('../images/pop-title-bg.png') no-repeat;
        background-position: 47px 25px;
    }

    .pop-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size:18px;
    }

    .popular-stories ul {
        padding-right:1.2em;
    }

    .popular-stories ul li {
        list-style: none;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 10px;
    }

    .popular-stories ul li div {
        display: inline-block;
        margin-left: 20px;
        margin-top: -5px;
        font-size:18px;
    }

    .text.parbase.section p, .media-body p{
        padding-left:15px;
        padding-right:15px;
        text-align: justify;
    }

    .text.parbase.section ul {
        margin-left: 25px;
        margin-top: -6px;
    }

   .generic-text-image.textimage.parbase.section {
        margin-top: -12px;
        width: 100%;
        position: relative;
    }

    .content .text-callout p {
        font-size: 5.5vw;
        font-style: normal;
        display: block;
        margin-bottom: 0;
        color: #75226b;
    }

    /*.content .text-callout {
        margin: -7px 0 !important;
    }*/

    h3.h5.media-heading {
        margin-left: 25px;
    }

    p.article-title {
        line-height: 22px;
        margin-bottom: 25px;
    }


	.content .text-callout {
		line-height: 1.05;
		padding: 10px;
		margin: 40px 0;
		border: none;
    }

	/*.text.cq-dd-image {
		position: absolute;
		color: #75226b;
		font-size: 4vw;
		width: 60%;
		white-space: pre-line;
		top: 30%;
		left: 5%;
		font-weight: 500;
    }*/

	.text.cq-dd-image {
		color: #75226b;
		font-size: 6vw;
		width: 90%;
		/*white-space: pre-line;*/
		top: 30%;
		margin-left: auto;
		margin-right: auto;
		left: 77%;
		font-weight: 500;
	}

    .row.newsTeaser > .col.col-xs-3.col-md-3.col-lg-2 {
    width: 100%;
    }

    .row.newsTeaser > .col.col-xs-9.col-md-3.col-lg-2 {
    width: 100%;
    }

    .newsTeaser h5 {
        font-size: 3.5vw;
        margin-left: unset;
    }

    .newsTeaser p {
        margin-left: unset;
    }

	.media .media-body, .text .media-body {
		text-align: justify !important;
	}

	.text-callout p {
		font-size: 5vw !important;
	}

	div.textimage div.image {
		float: right;
		/* margin-bottom: 8px !important; */
		width: 200%;
	}

	.references .wrapper {
		max-width: unset;
		text-align: left;
	}

	.divwrapper .button-questions {
		padding-left: auto;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		width: 60%;
	}

  .questions-mininav .mini-navigation{
    width: 420px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }


  .questions-mininav .mini-navigation .container-div2 {
    width: auto;
    padding-bottom: 10px;
  }

  .questions-mininav .mini-navigation .col-md-4 {
    width: auto;
    text-align: left;
    padding-left: 0;
  }

  .questions-mininav .mini-navigation .caption2 p {
    font-size: 1.1em;
    width: 130px;
  }

  .questions-mininav .mini-navigation .imageHolder {
    width: 110px;
    margin-bottom: 0;
  }

  .questions-mininav .mini-navigation .rowCentering {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .questions-mininav .mini-navigation .fancy2 span:before,.mini-navigation .fancy2 span:after {
      width: 40px;
  }

  .questions-mininav .mini-navigation .customHeading{
    margin-bottom: 20px !important;
  }

  .questions-mininav .promopodenhanced .small-caption p{
    font-size: 1.1em;
  }

  .questions-mininav .promopodenhanced .centerimg, .questions-mininav #linkWork, .questions-mininav #verticalWork{
    width: auto !important;
    float: none;
  }

  .questions-mininav .small-caption{
    text-align: left;
    width: auto;
  }

  .questions-mininav .button-questions{
    max-width: 100%;
    width: auto;
  }

  .questions-mininav .button-questions .image {
    width: auto;
    max-width: 100%;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
  }

  .existingQuestionsSet .questionnumber {
    padding-top: 2px;
    font-size: 0.9em;
  }

  .teasertile .media-body p.teaser-first {
    margin-top: 0;
  }

  .teasertile {
    font-weight: 100;
  }

  .teasertile .media {
    margin-left: 20px;
    margin-right: 20px;
  }

  .content .existingQue span.question, .content .questionssorting .dragcontent {
    font-weight: 500;
  }

  .textcallout section, .teasertile.base.parbase.section, .text.parbase.section, .columncontrol.section, .newsteasercontainer.section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .promopodenhanced.section{
    max-width: 24em !important;
  }

  .popular-stories-landing {
    margin-top: 50px;
  }

  .popular-stories-landing .withdescsafari #desktopWithDescription1,.popular-stories-landing .withdescsafari #desktopWithDescription2{
    display: flex !important;
  }

  .popular-stories-landing .withdescsafari .centerimg .thumbnail, .withdescsafari .small-caption,   .withdesctitle{
    display: none !important;
  }

  .popular-stories-landing .container-div3 .rowCentering .withdescsafari{
    display: flex;
    max-width: 100%;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .popular-stories-landing .withdescsafari #desktopWithDescription1 {
    width: auto;
    max-width: 100%;
  }

  .popular-stories-landing .withdescsafari #desktopWithDescription2 {
    width: auto;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .popular-stories-landing .withdescsafari .withDescription .caption {
      text-align: center;
  }

  .popular-stories-landing .withDescription .caption{
    padding-top: 0
  }

  .popular-stories-landing .withDescription .caption h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
    line-height: 1;
  }

  .popular-stories-landing .withDescription .caption .customh4 {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.2em;
  }

}
