@font-face {
 font-family: 'GillSansMT-Bold';
 src: url('/content/dam/commercial-au/neurology/womenwithms/pat/en_au/fonts/GillSansMT-Bold.ttf') format("truetype");
}

@font-face {
 font-family: 'GillSansMT-BoldItalic';
 src: url('/content/dam/commercial-au/neurology/womenwithms/pat/en_au/fonts/GillSansMT-BoldItalic.ttf') format("truetype");
}

@font-face {
 font-family: 'GillSansMT';
 src: url('/content/dam/commercial-au/neurology/womenwithms/pat/en_au/fonts/GillSansMT.TTF') format("truetype");
}

@font-face {
 font-family: 'GillSansMT-Italic';
 src: url('/content/dam/commercial-au/neurology/womenwithms/pat/en_au/fonts/GillSansMT-Italic.ttf') format("truetype");
}


header {
	margin: 0;
	background-color: #75226b;
}

body, .sortablelistgenerator{
  font-family: "GillSansMT" !important;
}

footer .footer-links-container p a {
    	color:#5c6770 !important;
    	text-decoration: none !important;
}

.template--home .page-title .page-utils{
  display: none;
}

.logo-options{
	background-color: #75226b;
}

.calendarOptions p {
    background-color: #ffffff;
}


.bx-pager a {
	background: unset !important;
	border: 1.5px solid #ccc;
	border-radius: 15px;
}

.hero .caption p {
    font-style: normal;
    font-size: 2.8em ;
    font-family: GillSansMT;
    display: block;
    margin-bottom: 0;
    color: #75226b;
    text-transform: initial;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.desktop-disclaimer {
    line-height: 1.5;
}

.hero .caption p b{
    font-weight: 400;
}


.text-callout{
    margin-top: 50px;
}

.text-callout p{
    font-style: normal;
    font-family: GillSansMT;
    font-size: 3.5em;
    display: block;
    margin-bottom: 0;
    color: #75226b;
}

.text-callout p b{
   font-weight: 400;
}


div.carousel {
    margin-top: 5px;
    margin-bottom: 0;
}

.carousel .wrapper {
    position: relative;
    min-width: 100%;
}

div.bx-viewport{
    /*width: 100%;
    overflow: hidden;
    position: relative;*/
    height: auto !important;
}

div.hero span.responsive-options img{
  width: 100% !important;
}

.bx-controls .slider-prev a, .bx-controls .slider-next a {
    color: #929aa0;
    display: none;
}


.bx-pager a:hover, .bx-pager a.active {
    background: none repeat scroll 0 0 #ffffff!important;
}

.bx-pager .bx-pager-item {
	margin-left: 20px;
}


.mobile-menu-toggle {
    position: absolute;
    left: 0;
    bottom: 30px !important;
    color: #f5f5f5;
    display: block;
    font-size: 16px;
    height: 24px;
    padding-top: 6px;
    text-align: center;
    width: 35px;
    margin-left: 8px;
    z-index: 2001;
}


.mobile-menu-toggle .icon-bar {
    width: 30px;
    height: 4px;
    margin: 0 auto 5px;
    background-color: #eeeeee;
}

.hero .caption {
	bottom: 60px;
}

.thumbnail-block .thumbnail{
	border: 0 solid #ddd;
}

.page-header-generic .nav-pills .glyphicon {
    display: none;
}

.promopodenhanced {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px !important;
    width: 100% !important;
}

.promopodenhanced .centerimg {
    width: 220px !important;
}


.ms-treatment-description{
  text-align: center;
}

.ms-treatment-description h3, .video-title {
    color: #75226b;
    font-size: 1.4em;
    font-family: GillSansMT-Bold;
}

.ms-treatment-description p {
    text-align: center;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

.canvas-container .columncontrol .nav-selection .row {
    display: inline-block;
}

.content-nav .columncontrol .row{
  width: 530px;
}

.calendar-nav .columncontrol .row {
  width: 620px;
}

#dropdownMenuButton, #calendarButton {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1.5px;
  height: 41px;
  border-radius: 9px;
}

.nav-selection .text, .promopodenhanced .caption p {
    font-size: 1.4em;
    font-weight: bolder;
    font-family: "GillSansMT-Bold";
    color: #75216c;
}

footer {
  border-bottom: none !important;
}

footer .back-to-top .icon-span {
  background: #771d64;
}

.footer-image {
    position: relative;
    text-align: center;
}

/** component mini navigation **/
.content-nav .columncontrol.section, .calendar-nav .columncontrol.section {
  width: 100%;
  margin: 0 auto;
  display: inherit;
  background-color: #dac3d7;
  height: 130px;
}

.content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section {
  width: 150px;
}

.content-nav .columncontrol.section img.cq-dd-image, .calendar-nav .columncontrol.section img.cq-dd-image {
  width: unset;
  margin-left: auto;
    margin-right: auto;
  padding-top: 20px;
}

.content-nav .columncontrol.section .text.parbase.section{
    width: 190px;
    margin: unset;
    margin-left: -50px;
  padding-top: 10px;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
}

.calendar-nav .columncontrol.section .text.parbase.section{
  width: 170px;
  margin: unset;
  margin-left: -20px;
  padding-top: 5px;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
}

.calendar-nav .html.parbase.section, .calendar-nav .calendarpicker.section{
    margin: unset;
    margin-left: 10px;
    padding-top: 40px;
    margin-right: auto;
    text-align: center;
}


.calendar-nav .calendarpicker.section{
    padding-top: 43px;
    width: 300px;
    margin: unset;
    margin-left: -115px;
    z-index: 1000;
    position: sticky;
}

.calendarOptions  #iCalendar {
  background-position: -225px 0;
}

.calendarOptions  #googleCalendar {
  background-position: -150px 0;
}

.calendarOptions  #Outlook {
  background-position: -75px 0;
}

.calendarOptions  .buttonclick {
  background-image: url(/content/dam/commercial-au/neurology/womenwithms/pat/en_au/images/button/button_calendar_select.png) !important;
	color: rgba(127, 255, 212, 0);
	border-radius: 8px;
}

.image.adaptiveimage.parbase.section img {
    width: 100%;
}

.text.parbase.section .disclaimer-text {
    color: #78226b;
    text-shadow: antiquewhite !important;
}

.image.adaptiveimage.parbase.section .img-responsive{
	margin-bottom: -80px;
}


.dropdownbutton.section {
    margin-top: 40px;
    /* text-align: center; */
}

.dropdown-menu {
    min-width: 215px;
    margin: 2px -30px 0;
    text-align: center;
    background-color: #dac3d7;

}

.dropdownbutton .dropdown-item {
  font-weight: bolder !important;
  color: #86386f !important;
  font-size: 14px;
  border-bottom: 1px solid #86386f !important;
  padding: 10px 11px !important;
}

a.dropdown-item:last-child {
    border-bottom: 0 !important;
}

.content-nav h3, .calendar-nav h3 {
    color: #781f64;
    font-size: 20px;
}

.canvas-container .columncontrol.section {
  margin-bottom: 25px;
  text-align: center;
}

.canvas-container .columncontrol.section .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  width: 100%;
}

.canvas-container {
  width: 100%;

}

.main-nav .wrapper > ul > li > a, .main-nav .wrapper > ul ul{
  font-family: "GillSansMT";
  font-size: 14px;
}

.main-nav .wrapper > ul ul {
  background: unset;

}

.main-nav {
  background: #75226b;
   margin-top: -15px;
}

.main-nav .wrapper > ul ul {
  top:71px;
  padding: unset;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}

.main-nav .wrapper > ul > li{
  width: 110px;
  margin-right: 20px;
}

.main-nav .wrapper > ul > li:last-of-type{
  width: 130px;
}

.main-nav .wrapper > ul ul li {
  margin-left: unset;
  margin-right: unset;
}
.main-nav .wrapper > ul ul li a {
    line-height: 2;
}
.main-nav .wrapper > ul ul li.last {
    margin-bottom: unset;
}
.main-nav .wrapper > ul ul li.last a {
    padding-bottom: 12px;
}
.main-nav .wrapper ul li .over {
  background: #75226b;
}
.main-nav .caret{
  display: none;
}

.main-nav .wrapper ul li a, .main-nav .wrapper ul li a:hover {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.5;
  white-space: inherit;
}

.main-nav .wrapper ul li a:hover{
  background-color: #75226b !important;
}

.main-nav .wrapper ul ul li a:hover{
  background-color:rgba(255, 255, 255,0.5) !important;
}

.no-touchcapable .main-nav .wrapper ul li.here a{
  color: #ffffff;
  /*font-weight : bolder;*/
}

.no-touchcapable .main-nav .wrapper ul li a:visited{
  background: #75226b !important;
}


.main-nav .wrapper ul ul{
  background: #75226b;

}

.main-nav .wrapper ul ul li{
  border-bottom: #fff 1px solid;

}

.main-nav .wrapper ul ul li a{
  background: #75226b;

}

.main-nav .wrapper ul ul .over a{
  background: rgba(92, 103, 112, 0);
  color: #ffffff;
}

.no-touchcapable .main-nav .wrapper ul ul li a:hover{
  background-color: rgba(243, 240, 240, 0.35) !important
  text-decoration-line: none !important;
}

.no-touchcapable .main-nav .wrapper ul li.here a{
  color: #ffffff;
}

ul.main-nav-list {
    position: absolute;
    top: 3%;
    left: 40%;
    z-index: 1000;
}

.main-nav .wrapper > ul > li.here > a, .main-nav .wrapper > ul > li.parent-here > a {
    color: #ffffff;
    border-bottom: 2px solid #fff;
}

li.level-1:hover {
  border-bottom: 2px solid #fff;
}

li.level-1:last-child {
  border-bottom: none;
}

.thumbnail-list {
  max-width: 1100px;
  margin:50px auto;
}

video{
  max-width: 100%;
  width: 630px;
  float: left;
  height: auto;
  border: 4px solid #75216c;
}

.video-content {
  text-align: left;
  margin-top: 25%;
}

p.video-heading {
  margin-bottom: 40px;
}

.video-description p {
  margin-bottom: 1px;
}

.popular-stories {
  margin-top: 60px;
}

.main-nav .wrapper > ul > li > a:hover, .main-nav .wrapper > ul > li > a:focus {
    text-decoration: none;
}

.template--generic-one-column header, .template--register header, .template--search-results header {
  border-bottom: 19px solid #fff;
}

/*text resizing*/

@media screen and (min-width: 500px){
  .hero .caption p, .hero .caption h3, .carousel h3.sub-title-carousel {
    font-size: 1.21em;
  }

  .text-callout p{
    font-size: 2.2em;
  }

  .hero-content-bottom-center .caption {
    bottom: 45px !important;
  }

  .ms-treatment-description h3{
    font-size: 1.7em;
  }

  .ms-treatment-description p, .video-title, .video-description {
      font-size: 1.5em;
  }

  #dropdownMenuButton, #calendarButton{
    font-size: 1.6em;
  }

  .dropdownbutton .dropdown-item{
    font-size: 1.6em;
  }

  .fancy span{
    font-size: 1.9em;
  }

  .fancy span:before, .fancy span:after{
    width: 100%;
  }

  .promopodenhanced .small-caption p {
    font-size: 1.9em;
    width: 135px;
  }

  .promopodenhanced .small-caption {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 768px){
  .video-player .col-md-8{
    width: 100%;
  }

  video {
    float: none;
    width: 100%
  }

  .video-content {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) and (orientation: portrait){
  .carousel h3.sub-title-carousel {
    font-size: 1.21em !important;
  }

  .footer-image .desktop-image {
      display: none;
  }

  .footer-image .mobile-image {
      display: block;
  }

  .footer-image .centered p {
      font-size: 3vw;
      line-height: 1;
      color: #78226b;
  }

  .footer-image .centered {
      position: absolute;
      top: 79%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
  }
}

@media screen and (min-width: 768px){
  .hero .caption p, .hero .caption h3 {
    font-size: 1.24em ;
  }

  .footer-image .desktop-image {
      display: block;
  }

  .footer-image .mobile-image {
      display: none;
  }

  .footer-image .centered p {
      font-size: 1.4vw;
      line-height: 0.7;
      color: #78226b;
  }

  .footer-image .centered {
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
  }

  .text-callout p{
    font-size: 1.9em;
  }

  .hero-content-bottom-center .caption {
    padding-left: 5%;
    padding-right: 5%;
  }

  #dropdownMenuButton, #calendarButton{
    font-size: 1em;
  }

  .dropdownbutton .dropdown-item{
    font-size: 1.2em;
  }

  .ms-treatment-description h3 {
    font-size: 1.4em;
  }

  .ms-treatment-description p, .video-title, .video-description  {
      font-size: 1.2em;
  }
  .video-content {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px){
  .hero .caption p, .hero .caption h3 {
    font-size: 1.4em ;
  }

  .text-callout p{
    font-size: 2.3em;
  }

  .video-content {
    margin-left: 0;
    margin-top: 25%;
  }

  video {
    float: none;
  }
}

@media screen and (min-width: 1366px){

  body{
		width: 100%;
	}
	header{
		height: auto;
		border-bottom: 12px solid #fff;
	}

  .bx-pager a {
      width: 2.5em !important;
      height: 2.5em !important;
      margin: -25px 5px !important;
  }

	.mobile-menu-toggle{
	display: none;
	}

  .hero .caption p, .hero .caption h3 {
    font-size: 1.6em ;
  }

  .text-callout p{
    font-size: 3.2em;
  }

  .hero-content-bottom-center .caption {
    bottom: 100px !important;
  }

  .content-nav, .calendar-nav {
    display: inline;
    max-width: auto;
  }

	.thumbnail-block {
	    display:inline-block;
	    width: 363px;
	    vertical-align: top;
	}

	.ms-treatment-description {
		text-align: center;
	}



	.image.adaptiveimage.parbase.section {
		width: 100%;
		background: #b897b4;
		text-align: center;
	}


	.content .main .adaptiveimage figure img {
		width: auto;
	}

	.row.footer-links-container {
		width: 1200px;
		margin: 10px auto;
	}

	footer .footer-links-container .logo-biogen{
		width: auto;
		position: absolute;
	}

	footer .footer-links-container .footer-info {
		max-width: 100% !important;
		font-size: 12px;
		margin-left: 70px;
	}

	footer p{
		text-align: left !important;
	}

	.page-utils {
		visibility: hidden;
	}

	footer {
		margin-top: -10px;
	}

	.logo-biogen {
		margin-left: -80px;
	}

	.logo-biogen1{
	    margin-top: 11px;
	}

	.logo-biogen2 {
	 	float:none !important;
    }

    .references {
    	margin-bottom: 50px;
    	font-size: 12px;
    }

    .video-content {
      margin-left: -60px;
    }

    video {
      float: left;
    }


}


@media  screen and (min-width: 1024px) and (max-width: 1366px) {
	ul.main-nav-list {
		left:30%;
	}

  .mobile-menu-toggle{
    display: none;
  }

  .bx-pager a {
    width: 2.5vw !important;
    height: 2.5vw !important;
    margin: -25px 5px !important;
  }

  .thumbnail-list {
    max-width: 500px;
  }
}

@media  screen and (min-width: 1024px) and (max-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
	body {
		width: 111%;
	}

  .mobile-menu-toggle{
    display: none;
  }
}


@media screen and (min-width: 992px) and (max-width: 1023px){
	ul.main-nav-list {
    left: 26%;
  }
  .mobile-menu-toggle{
    display: none;
  }

  .bx-pager a {
    width: 2.5vw !important;
    height: 2.5vw !important;
    margin: -18px 5px !important;
  }
  .thumbnail-list {
    max-width: 500px;
  }
}


@media screen and (max-width: 991px){
	.main-nav {
		background: #75226b;
		z-index: 1;
	}

  .main-nav .wrapper > ul > li > a:after, .main-nav .wrapper > ul > li > a:before{
    display: none;
  }

  ul.main-nav-list {
      top: 3%;
      left: 10px;
  }

  .main-nav .wrapper > ul > li, .main-nav .wrapper > ul > li:last-of-type{
      width: auto;
      margin-right: 0;
      border-bottom: 1px solid #e5e5e5;
  }

  .main-nav .wrapper ul li a, .main-nav .wrapper ul li a:hover{
    text-align: left;
  }

  .columncontrol .col-md-6{
    width: 700px;
  }

	.main-nav ul li a {
    	color: white;
    	text-transform: uppercase;
   	font-weight: 300;
    	font-style: normal;
   	text-transform: uppercase;
    	line-height: 1;
    	text-align: center;
    	display: block;
    	font-size: 13px;
    	padding: 12px 45px 8px 15px;
    	position: relative;
	}


	.no-touchcapable .main-nav .wrapper ul li a:hover {
  	background : none;
	}

	.main-nav ul ul{
	background: #75226b;
	}

	.main-nav .caret {
	display:none;
	}

	.main-nav .wrapper ul li  a.on{
	background: #75226b;
	}

	.main-nav ul ul li a:hover{
	    background: #75226b !important;
	    color: #f4f4f4;
	}

  .thumbnail-list {
    width: 100%;
    margin: 50px auto;
  }

  .thumbnail-block {
    float: none;
    vertical-align: top;
  }

  .ms-treatment-description {
    text-align: center;
  }

  .canvas-container .columncontrol.section .row {
    max-width: 100%;
    width: 690px;
  }

  .bx-pager a {
    width: 3vw !important;
    height: 3vw !important;
    margin: -18px 5px !important;
  }
}



@media (max-width: 620px){
	.hero .caption p {
		display: block;
		font-size: 4.4vw !important;
	}

  .hero .caption {
    bottom: 11.2vw;
  }

	.bx-pager a {
		width: 3vw !important;
		height: 3vw !important;
		margin: -18px 5px !important;
	}

  .text-callout p {
      font-size: 5vw !important;
  }

	.references .wrapper {
    max-width: 100%;
  }

  .thumbnail-list {
    width: 100%;
    margin: 50px auto;
  }

  .thumbnail-block {
    float: none;
    vertical-align: top;
  }

  .ms-treatment-description {
    text-align: center;
  }

  .ms-treatment-description h3 {
    font-size: 1.6em;
  }

  .ms-treatment-description p, .video-title, .video-description  {
      font-size: 1.5em;
  }

  #dropdownMenuButton, #calendarButton{
    font-size: 1.6em;
  }

  .dropdownbutton .dropdown-item{
    font-size: 1.6em;
  }

  .fancy span{
    font-size: 1.9em;
  }

  .fancy span:before, .fancy span:after{
    width: 100%;
  }

  .promopodenhanced .small-caption p {

    font-size: 1.9em;
    width: 135px;
  }

  .promopodenhanced .small-caption {
    margin-left: 12px;
  }

  .text.parbase.section .disclaimer-text {
    font-size: 1.2em;
  }

  .text.parbase.section .disclaimer-text {
    margin-top: -25px;
  }

}


@media (max-width: 991px) and (min-width: 768px){
	.hidden-sm {
		display: none !important;
	}


}


footer .siteMapFooter-links {
    display: none !important;
}



@media (min-width: 320px) and (max-width: 736px) and (orientation : portrait) {
	br.desktop {
		display: none;
	}
}

@media (min-width: 320px) and (max-width: 568px) and (orientation : landscape) {
	br.desktop {
		display: none;
	}

	.text.parbase.section .disclaimer-text {
		font-size: 2.5vw !important;
	}

	.image.adaptiveimage.parbase.section .img-responsive {
		margin-bottom: -90px;
	}
	.text.parbase.section {
		margin-top: unset !important;
	}
}



@media only screen and (min-device-width : 480px) and (max-device-width : 1024px) {

body {
    width: 100%;
    }

.thumbnail-list {
		width:100%;
		margin:50px auto;
	}

	.thumbnail-block {
	    /*display:inline-block;
	    width: 363px;*/
		float: none;
	    vertical-align: top;
	}

	.ms-treatment-description {
		text-align: center;
	}

	.ms-treatment-description h3 {
		color:#75226b;
		font-size: 18px;
	}

	footer .footer-links-container .logo-biogen{
		width: auto;
		position: absolute;
	}

	footer .footer-links-container .footer-info {
		max-width: 100% !important;
		font-size: 12px;
		margin-left: 136px;
	}

	footer p{
		text-align: left !important;
	}

	.page-utils {
		visibility: hidden;
	}

	footer {
		margin-top: -30px;
	}

	.logo-biogen {
		margin-left: -80px;
	}

	footer .footer-links-container .logo-biogen {
		width: 100%;
		left: 11%;
	}

	br.desktop {
		display: none;
	}


}



@media only screen and (min-device-width: 320px) and (max-device-height: 854px) {
  	.thumbnail-list {
  		width:100%;
  	}

  	/*.thumbnail-block {
  	    display:inline-block;
  	}*/

  	.ms-treatment-description {
  		text-align: center;
  		padding:10px;
  	}

  	.ms-treatment-description h3 {
  		color:#75226b;
  		font-size: 18px;
  	}

  	.ms-treatment-description p, .video-title, .video-description  {
  		font-size: 15px;
  	}

  	/*footer .logo-biogen{
  		margin-top: -30px;
  	}*/

  	.text.parbase.section .disclaimer-text {
  		font-size: 2.7vw;
   	}

  }

@media (max-width: 767px){
  .content-nav .column-control-column ,.calendar-nav .column-control-column {
      background-color: #d7c6d6;
  }

	.calendar-nav .columncontrol.section{
		margin-top: 50px;
	}
	.calendar-nav .html.parbase.section{
		padding-top: 30px;
	}

.nav-selection .text, .promopodenhanced .caption p{
  font-size: 1.8em;
}

.content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section{
  width: auto;
}

.columncontrol .col-md-6 {
    width: auto;
    max-width: 100%;
}

.content-nav .columncontrol.section, .calendar-nav .columncontrol.section {
  height: auto;
}

.content-nav .columncontrol.section .text.parbase.section, .calendar-nav .columncontrol.section .text.parbase.section, .calendar-nav .html.parbase.section, .calendar-nav .calendarpicker.section{
  height: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.canvas-container .columncontrol.section .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 768px;
}

.content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section{
  width: auto;
}

.columncontrol .col-md-6 {
    width: auto;
    max-width: 100%;
}

.dropdownbutton.section{
  margin-bottom: 40px;
}

.dropdown-menu {
  margin: 0;
}

.footer-image .desktop-image {
    display: none;
}

.footer-image .mobile-image {
    display: block;
}

.footer-image .centered p {
    font-size: 3vw;
    line-height: 1;
    color: #78226b;
}

.footer-image .centered {
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

}


/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .text.parbase.section .disclaimer-text {
		font-size: 1.4vw;
	}

	.image.adaptiveimage.parbase.section .img-responsive{
		margin-bottom: -50px;
	}
	.content-nav h3, .calendar-nav h3 {
		font-size: 2vw;
		width: 105px;
		margin-left: -23px;
	}

	.calendar-nav {
		margin-top: -50px;
	}

	content-nav .columncontrol.section .text.parbase.section {
		width: 148px;
	}

	.content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section {
		width: 131px;
	}

	.calendarpicker.section {
		padding-top: 43px;
		width: 295px;
		margin-left: -209px !important;
	}
}

@media (min-width: 769px){
	.text.parbase.section .disclaimer-text {
		font-size: 1.4vw;
	}

	.image.adaptiveimage.parbase.section .img-responsive{
		margin-bottom: -50px;
	}
	.content-nav h3, .calendar-nav h3 {
		font-size: 1.8vw;
		width: 123px;
		margin-left: 24px;
	}

	.calendar-nav {
		margin-top: unset;
	}

	content-nav .columncontrol.section .text.parbase.section {
		width: 148px;
	}

	.content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section {
		width: 131px;
	}

}

@media (min-width: 950px){

}



@media (min-width: 992px){
	.text.parbase.section .disclaimer-text {
		font-size: 1.2vw;
	}

	.image.adaptiveimage.parbase.section .img-responsive{
		margin-bottom: -80px;
	}
	.content-nav h3, .calendar-nav h3 {
		font-size: 1.4;
		width: 165px;
	}
	.calendar-nav {
		margin-top: unset;
	}

}

@media (min-width: 1024px){
	.text.parbase.section .disclaimer-text {
		font-size: 1.2vw;
	}

	.image.adaptiveimage.parbase.section .img-responsive{
		margin-bottom: -80px;
	}
	.content-nav h3, .calendar-nav h3 {
		font-size: 1.4vw;
		width: 165px;
	}
	.calendar-nav {
		margin-top: unset;
	}

}

@media (min-width: 1349px){
	.text.parbase.section .disclaimer-text {
		font-size: 0.9vw;
	}
	.content-nav h3, .calendar-nav h3 {
		font-size: 1.2vw;
		width: 165px;
	}

	.thumbnail-block {
		display: inline-block;
		width: 363px;
		vertical-align: top;
	}
}

@media (min-width: 1500px){
	.content-nav h3, .calendar-nav h3 {
		font-size: 1vw;
		width: 165px;
	}
}

/*Mobile devices default*/

@media only screen and (max-width: 736px) and (orientation: landscape){

}


@media only screen and (max-width: 412px) and (orientation : portrait) {

}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen
  and (device-width: 414px)
  and (device-height: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    .content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section{
      width: auto;
    }

    .columncontrol .col-md-6 {
        width: auto;
        max-width: 100%;
    }

    .content-nav .columncontrol.section, .calendar-nav .columncontrol.section {
      height: auto;
    }

    .content-nav .columncontrol.section .text.parbase.section, .calendar-nav .columncontrol.section .text.parbase.section, .calendar-nav .html.parbase.section, .calendar-nav .calendarpicker.section{
      height: auto;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .canvas-container .columncontrol.section .row {
      margin-left: auto;
      margin-right: auto;
      max-width: 100% ;
      width: auto;
    }

    .content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section{
      width: auto;
    }

    .columncontrol .col-md-6 {
        width: auto;
        max-width: 100%;
    }

    .dropdownbutton.section{
      margin-bottom: 40px;
    }

    .dropdown-menu {
      margin: 0;
    }

}

/* Landscape */
@media only screen
  and (device-height: 414px)
  and (device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

    .dropdownbutton.section{
      margin-bottom: 40px;
    }

    .content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section{
      width: auto;
    }

    .columncontrol .col-md-6 {
        width: auto;
        max-width: 100%;
    }

    .content-nav .columncontrol.section, .calendar-nav .columncontrol.section {
      height: auto;
    }

    .content-nav .columncontrol.section .text.parbase.section, .calendar-nav .columncontrol.section .text.parbase.section, .calendar-nav .html.parbase.section, .calendar-nav .calendarpicker.section{
      height: auto;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .canvas-container .columncontrol.section .row {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        width: 500px;
    }

    .content-nav .columncontrol.section .image.parbase.section, .calendar-nav .columncontrol.section .image.parbase.section{
      width: auto;
    }

    .columncontrol .col-md-6 {
        width: auto;
        max-width: 100%;
    }

    .dropdown-menu {
      margin: 0;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (device-width: 320px)
  and (device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {


}

/* Portrait */
@media only screen
  and (device-width: 320px)
  and (device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {



    .content-nav .columncontrol.section, .calendar-nav .columncontrol.section{
        height: 0;
    }


}

/* Landscape */
@media only screen
  and (device-width: 320px)
  and (device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {



}
